.form{
    width: 330px;
    padding: 30px 30px;
    background: #dde1e7;
    text-align: center;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
        2px 2px 5px rgba(94, 104, 121, 0.288);
}


.select {

    outline: 0;
    background: #595959ce;
    width: 100%;
    color: #dde1e7;
    cursor: pointer;
    border: 1px solid #595959;
    border-radius: 3px;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 10em;
    height: 2.5em;
    line-height: 3;
    border-radius: .25em;
    padding-bottom: 10px;
  }
