* {
    margin: 0;
    padding: 0;
}

body {
    background: #dde1e7;
    /* height: 100vh; */
    /* overflow: hidden; */
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #dde1e7;
}

.header {
    background: #dde1e7;
    padding: 10px;
    color: #595959;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
}

.left>div {
    margin-right: 30px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    padding: 10px;
}

.logout>a {
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    padding: 13px 25px;
    font-weight: bold;
    background: #dde1e7;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 0px 0px 5px 5px #BABECC;
}

.logout>a:focus {
    color: #3498db;
    box-shadow: inset 2px 2px 5px #BABECC,
        inset -5px -5px 10px #ffffff73;
}

.body {
    display: flex;
    background: #dde1e7;
    color: #595959;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 16%;
    box-shadow: 10px 0px 10px -10px #595959;
    left: 0;
    background-color: #111;
    background-color: #595959;
    ;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #dde1e7;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


.sidebar a:hover,
.dropdown-btn:hover {
    color: #adadad;

}




/* Main content */
.main {
    margin-left: 200px;
    /* Same as the width of the sidebar */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    /* background-color: green; */
    background-color: #dde1e7;
    /* color: white; */
    color: #595959;
}

/* .active>.sidebar a:hover {
    color: red;
} */

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #26262697;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}


.main_container {
    /* height: calc(97.253vh - 68.8px); */
    min-height: 83.35vh;
    display: flex;
    width: 84%;
    padding: 20px;
    /* overflow: auto; */
}

.inside_main_container {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #595959;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
